*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-color: #ececec;
}

.logo{
    max-width: 5rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
    font-size: 14px;
    transition: all .3s ease ;
}

.abrir-menu,.cerrar-menu{
    display: none;
    cursor: pointer;
}

.principal{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

footer{
    background-color: #ececec;
}

footer .contenedor{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.redes-sociales{
    display: flex;
    gap: 2rem;
    font-size: 4rem;
}
.rojo{
    color: red;
}
.verde{
    color: green;
}
.azul{
    color: blue;
}

.autor p{
    font-size: 3rem;
    font-weight: bold;
}
@media (max-width: 765px) {
    header{
        justify-content: space-between;
    }
    .abrir-menu,.cerrar-menu{
        display: block;
        border: none;
        font-size: 1rem;
    }
    .cerrar-menu{
        background: transparent;
        color: white;
    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        opacity: 0;
        visibility: hidden;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        transition: 400ms all ease-in-out;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        color: #ececec;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .icon-abrir{
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    footer .contenedor{
        flex-direction: column;
        align-items: center;
    }
}
